{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Wunsch bestätigen{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Bitte best&auml;tigt euren Wunsch!</h2>
        </div>
        <div class="row">
            <form id="id_wishes_confirm_form" action="{% url 'pfpaapp:wishes_confirm' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit">
                <input name="back" type="submit" value="Back">
            </form>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    {{ form.media }}
{% endblock %}
