{% extends "base.html" %}

{% block title %}Wunsch anzeigen{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Deine Wahl für Sport in der Oberstufe!</h2>
        </div>
        <div class="row d-flex flex-row-reverse">
            <a class="btn btn-primary" href="{% url 'pfpaapp:wishes_edit' %}">Wahl editieren</a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">Additum</div>
                {% if pupil.wish_additum %}
                <div class="col">Ja</div>
                {% else %}
                <div class="col">Nein</div>
                {% endif %}
            </div>
            {% for value in wishes %}
            <div class="row">
                <div class="col">{{ value.category.name }}</div>
                <div class="col">{{ value.classOffer.name }}</div>
                <div class="col">{{ value.classOffer.slot }}</div>
                <div class="col">{{ value.teacher }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}