{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Sportwahl{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Willkommen bei der Sportwahl!</h2>
        </div>
        <div class="row">
            <form action="{% url 'pfpaapp:wishes_submit' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    {{ form.media }}
{% endblock %}
