<footer class="footer">
    <div class="container">
        <span class="text-muted">Static Text</span>
        <a class="text-muted" href="https://gitlab.io/pfpa/pfpa">Gitlab</a>
        <a class="text-muted" href="https://pfpa.gitlab.io/docs/">Dokumentation</a>
        <a class="float-right text-muted" href="https://pfpa.gitlab.io">PFPA-Projekt</a>
    </div>
</footer>