<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'pfpaapp:index' %}">Sportwahl</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'pfpaapp:index' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pfpaapp:overview' %}">Übersicht</a>
            </li>
            {% if user.is_authenticated %}
                {% if pupil and not pupil.has_submitted_wishes %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pfpaapp:wishes_submit' %}">Wahl durchführen</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if pupil and pupil.has_submitted_wishes %}
                            <a class="dropdown-item" href="{% url 'pfpaapp:wishes_show' %}">Wahl anzeigen</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'pfpaapp:password_change' %}">Passwort ändern</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pfpaapp:password_reset' %}">Passwort Reset</a>
                </li>
            {% endif %}
        </ul>
        <div class="my-2 my-lg-0">
            {% if user.is_authenticated %}
                <a href="{% url 'pfpaapp:logout' %}" class="btn btn-outline-success" role="button">Logout</a>
            {% else %}
                <a href="{% url 'pfpaapp:login' %}" class="btn btn-outline-success" role="button">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
