{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="text-center">
        <form class="form-signin" method="POST" action="{% url 'pfpaapp:login' %}">
            {% csrf_token %}
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
                 alt="" width="72" height="72">
            <h2 class="h3 mb-3 font-weight-normal">Bitte loggt euch ein!</h2>
            {{ form|crispy }}
            <input type="hidden" name="next" value="/">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Einloggen</button>
        </form>
    </div>
{% endblock %}
