{% extends "base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="text-center">
        <p>Entweder bitte nun erneut <a href="{% url 'pfpaapp:login' %}">einloggen</a> oder zur
            <a href="{% url 'pfpaapp:index' %}">Startseite</a>.</p>
    </div>
{% endblock %}
