{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Passwort zurück setzten{% endblock %}

{% block content %}
    <div class="text-center">
        <form class="form-signin" method="POST" action="{% url 'pfpaapp:password_reset' %}">
            {% csrf_token %}
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
                 alt="" width="72" height="72">
            {{ form|crispy }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Passwort Mail abschicken</button>
        </form>
    </div>
{% endblock %}